
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px $box-shadow-header-color;
    z-index: 30;
    background-color: $color-white;

    &__logo {
        width: 165px;
        padding: 20px 0% 12px 0px;
    }

    &__back {
        color: $color-darkgrey;
        text-decoration: none;
        position: absolute;
        left: 23px;
    }
}
