@keyframes loader {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
@keyframes fade-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 30;
  background-color: white;
}
.header__logo {
  width: 165px;
  padding: 20px 0% 12px 0px;
}
.header__back {
  color: #353535;
  text-decoration: none;
  position: absolute;
  left: 23px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
@media (min-width: 980px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px 50px 10px 0px;
  }
}
.footer__title {
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
@media (min-width: 980px) {
  .footer__title {
    margin-left: 50px;
  }
}
.footer__list {
  list-style: none;
}
@media (min-width: 980px) {
  .footer__list {
    display: flex;
  }
}
.footer__list--link {
  padding-bottom: 7px;
}
@media (min-width: 980px) {
  .footer__list--link {
    margin-right: 20px;
  }
}
.footer__list--link a {
  color: inherit;
  text-decoration: none;
}
.footer__list--link a i {
  width: 20px;
  padding-right: 6px;
}

.footer-restaurant {
  position: relative;
  top: 205px;
}

.location {
  padding: 15px 0px;
  background-color: #EAEAEA;
  color: #353535;
  text-align: center;
}
.location__icon {
  margin-right: 13px;
}

.presentation {
  background-color: #F6F6F6;
  text-align: center;
  padding-bottom: 56px;
}
.presentation__title {
  font-size: 24px;
  margin: 0px 23px;
  padding: 38px 42px 16px 42px;
}
.presentation__info {
  color: #353535;
  font-size: 18px;
  padding-bottom: 30px;
}

.fonctionnement {
  margin: 48px 0px;
}
.fonctionnement__title {
  margin: 0px 0px 14px 20px;
}
@media (min-width: 1440px) {
  .fonctionnement__title {
    margin: 0px 180px;
  }
}
.fonctionnement__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement__list--card {
  z-index: initial;
  position: relative;
  width: 322px;
  padding: 27px 0px;
  margin: 12px 20px 12px 32px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement__list--card .number {
  position: absolute;
  background-color: #9356DC;
  color: white;
  padding: 3px 7.5px 2px 7.5px;
  border-radius: 100%;
  left: -12px;
}
.fonctionnement__list--card .icon {
  padding: 0px 20px 0px 35px;
  width: 18px;
}
.fonctionnement__list--card .icon__grey {
  color: #7E7E7E;
}
.fonctionnement__list--card .icon__purple {
  color: #9356DC;
}

.restaurants {
  padding: 48px 0px;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin: 0px 0px 14px 20px;
  padding-bottom: 10px;
  text-align: left;
}
@media (min-width: 1440px) {
  .restaurants__title {
    margin: 0px 180px;
  }
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 980px) {
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .restaurants__cards {
    margin: 0px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants__cards--link {
  position: relative;
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 490px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  margin: 9px 20px;
}
.restaurants__cards--link span {
  position: absolute;
  bottom: 25px;
  right: 10px;
}
@media (min-width: 980px) {
  .restaurants__cards--link {
    margin: 25px 20px;
  }
}
@media (min-width: 1440px) {
  .restaurants__cards--link {
    margin: 25px 0px;
  }
}
.restaurants__cards .card {
  text-decoration: none;
  color: black;
}
.restaurants__cards .card__image {
  display: flex;
  width: 100%;
  height: 175px;
  object-fit: cover;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__cards .card__content {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 16px 16px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
}
.restaurants__cards .card__content--title {
  font-size: 18px;
  padding-bottom: 5px;
}
.restaurants__cards .card__content--text {
  font-size: 17px;
}
.restaurants__cards .card__content--heart, .restaurants__cards .card__content--heartfill {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.restaurants__cards .card__content--heartfill {
  background: linear-gradient(#9356DC, #FF79DA 90%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.restaurants__cards .card__content--heartfill:hover {
  opacity: 1;
}
.restaurants__cards .cardnew::before {
  content: "Nouveau";
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 80px;
  padding: 5px 0px;
  color: #008766;
  background-color: #99E2D0;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  right: 10px;
  top: 10px;
}

.banner {
  width: 100%;
  position: absolute;
  z-index: 1;
  min-height: calc(8% + 275px);
  max-height: 393px;
  object-fit: cover;
  top: -5%;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 32px 13px 40px 13px;
  border-radius: 40px 40px 0px 0px;
  z-index: 2;
  position: relative;
  top: 205px;
}
@media (min-width: 660px) {
  .restaurant {
    align-items: center;
  }
}
.restaurant__title {
  margin: 0px 12px 0px 4px;
  display: flex;
  justify-content: space-between;
}
.restaurant__title .fa-stack {
  margin-top: 4px;
}
.restaurant__title h1 {
  font-family: shrikhand;
  font-size: 28px;
  font-weight: 400;
}
@media (min-width: 660px) {
  .restaurant__title h1 {
    padding-right: 40px;
  }
}
.restaurant__title--heart, .restaurant__title--heartfill {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.restaurant__title--heartfill {
  background: linear-gradient(#9356DC, #FF79DA 90%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.restaurant__title--heartfill:hover {
  opacity: 1;
}
.restaurant section {
  width: 100%;
  max-width: 634px;
}
.restaurant .section-title {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 28px 0px 12px 0px;
}
.restaurant .section-title::after {
  content: "";
  display: inline-block;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-top: 10px;
}
.restaurant .menu {
  list-style: none;
}
.restaurant .menu__card {
  max-width: 635px;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 12px;
  gap: 5px;
  transition: all 0.5s ease-in;
}
.restaurant .menu__card::after {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #99E2D0;
  overflow: hidden;
  opacity: 0;
  width: 0px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0px 15px 15px 0px;
  transition: inherit;
}
.restaurant .menu__card:hover::after {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #99E2D0;
  overflow: hidden;
  opacity: 1;
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0px 15px 15px 0px;
  transition: inherit;
}
.restaurant .menu__card--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 0px 15px 15px;
  gap: 5px;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant .menu__card--content h3 {
  font-size: 18px;
  font-weight: 500;
}
.restaurant .menu__card--content h3, .restaurant .menu__card--content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant .menu__card--price {
  padding: 0px 15px 15px 0px;
  font-weight: 700;
  color: #353535;
}
.restaurant__order {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.fade-in__1 {
  opacity: 0;
  animation: fade-in 0.3s 200ms ease-in-out forwards;
}
.fade-in__2 {
  opacity: 0;
  animation: fade-in 0.3s 350ms ease-in-out forwards;
}
.fade-in__3 {
  opacity: 0;
  animation: fade-in 0.3s 500ms ease-in-out forwards;
}
.fade-in__4 {
  opacity: 0;
  animation: fade-in 0.3s 650ms ease-in-out forwards;
}
.fade-in__5 {
  opacity: 0;
  animation: fade-in 0.3s 800ms ease-in-out forwards;
}
.fade-in__6 {
  opacity: 0;
  animation: fade-in 0.3s 950ms ease-in-out forwards;
}
.fade-in__7 {
  opacity: 0;
  animation: fade-in 0.3s 1100ms ease-in-out forwards;
}
.fade-in__8 {
  opacity: 0;
  animation: fade-in 0.3s 1250ms ease-in-out forwards;
}
.fade-in__9 {
  opacity: 0;
  animation: fade-in 0.3s 1400ms ease-in-out forwards;
}
.fade-in__10 {
  opacity: 0;
  animation: fade-in 0.3s 1550ms ease-in-out forwards;
}
.fade-in__11 {
  opacity: 0;
  animation: fade-in 0.3s 1700ms ease-in-out forwards;
}
.fade-in__12 {
  opacity: 0;
  animation: fade-in 0.3s 1850ms ease-in-out forwards;
}
.fade-in__13 {
  opacity: 0;
  animation: fade-in 0.3s 2000ms ease-in-out forwards;
}

* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  min-width: 320px;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  width: 100%;
}

.loader {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  animation: loader 1s forwards;
}
.loader__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.loader__container--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 40px;
  background-image: url(../../assets/images/logo/ohmyfood.png);
  background-repeat: no-repeat;
  background-size: 200px;
  filter: invert(100%);
}
.loader__container--logo::before {
  filter: invert(100%);
  position: absolute;
  content: "";
  width: 250px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m:
  conic-gradient(#ffffff00 10%,#ffffff),
  linear-gradient(#ffffff 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.button {
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 16px;
  padding: 16px 22px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
}
.button:hover {
  opacity: 85%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
.button__restaurant {
  padding: 16px 49px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
