.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header__logo {
  width: 165px;
  padding: 20px 0% 12px 0px;
}
.header__back {
  color: #353535;
  text-decoration: none;
  position: absolute;
  left: 23px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
@media (min-width: 980px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px 50px 10px 0px;
  }
}
.footer__title {
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
@media (min-width: 980px) {
  .footer__title {
    margin-left: 50px;
  }
}
.footer__list {
  list-style: none;
}
@media (min-width: 980px) {
  .footer__list {
    display: flex;
  }
}
.footer__list--link {
  padding-bottom: 7px;
}
@media (min-width: 980px) {
  .footer__list--link {
    margin-right: 20px;
  }
}
.footer__list--link a {
  color: inherit;
  text-decoration: none;
}
.footer__list--link a i {
  width: 20px;
  padding-right: 6px;
}

.footer-restaurant {
  position: relative;
  top: 205px;
}

.location {
  padding: 15px 0px;
  background-color: #EAEAEA;
  color: #353535;
  text-align: center;
}
.location__icon {
  margin-right: 13px;
}

.presentation {
  background-color: #F6F6F6;
  text-align: center;
  padding-bottom: 56px;
}
.presentation__title {
  font-size: 24px;
  margin: 0px 23px;
  padding: 38px 42px 16px 42px;
}
.presentation__info {
  color: #353535;
  font-size: 18px;
  padding-bottom: 30px;
}

.fonctionnement {
  margin: 48px 0px;
}
.fonctionnement__title {
  margin: 0px 0px 14px 20px;
}
@media (min-width: 1440px) {
  .fonctionnement__title {
    margin: 0px 180px;
  }
}
.fonctionnement__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement__list--card {
  z-index: initial;
  position: relative;
  width: 322px;
  padding: 27px 0px;
  margin: 12px 20px 12px 32px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement__list--card .number {
  position: absolute;
  background-color: #9356DC;
  color: white;
  padding: 3px 7.5px 2px 7.5px;
  border-radius: 100%;
  left: -12px;
}
.fonctionnement__list--card .icon {
  padding: 0px 20px 0px 35px;
  width: 18px;
}
.fonctionnement__list--card .icon__grey {
  color: #7E7E7E;
}
.fonctionnement__list--card .icon__purple {
  color: #9356DC;
}

.restaurants {
  padding: 48px 0px;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin: 0px 0px 14px 20px;
  padding-bottom: 10px;
  text-align: left;
}
@media (min-width: 1440px) {
  .restaurants__title {
    margin: 0px 180px;
  }
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 980px) {
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .restaurants__cards {
    margin: 0px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants__cards--link {
  position: relative;
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 490px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  margin: 9px 20px;
}
@media (min-width: 980px) {
  .restaurants__cards--link {
    margin: 25px 20px;
  }
}
@media (min-width: 1440px) {
  .restaurants__cards--link {
    margin: 25px 0px;
  }
}
.restaurants__cards .card {
  text-decoration: none;
  color: black;
}
.restaurants__cards .card__image {
  display: flex;
  width: 100%;
  height: 175px;
  object-fit: cover;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__cards .card__content {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 16px 16px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
}
.restaurants__cards .card__content--title {
  font-size: 18px;
  padding-bottom: 5px;
}
.restaurants__cards .card__content--text {
  font-size: 17px;
}
.restaurants__cards .card__content--heart, .restaurants__cards .card__content--heartfill {
  display: flex;
  align-items: center;
  height: 24px;
  position: absolute;
  bottom: 25px;
  right: 24px;
}
.restaurants__cards .card__content--heartfill {
  background: linear-gradient(#9356DC, #FF79DA 90%);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurants__cards .card__content--heartfill:hover {
  animation: heart-fill-home 400ms both;
}
.restaurants__cards .cardnew::before {
  content: "Nouveau";
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 80px;
  padding: 5px 0px;
  color: #008766;
  background-color: #99E2D0;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  right: 10px;
  top: 10px;
}

.banner {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 32px 13px 40px 13px;
  border-radius: 40px 40px 0px 0px;
  z-index: 2;
  position: relative;
  top: 205px;
}
.restaurant__title {
  margin: 0px 4px;
}
.restaurant__title h1 {
  font-family: shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.restaurant__title--heart, .restaurant__title--heartfill {
  display: flex;
  align-items: center;
  height: 24px;
  position: absolute;
  right: 48px;
  top: 42px;
}
.restaurant__title--heartfill {
  background: linear-gradient(#9356DC, #FF79DA 90%);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurant__title--heartfill:hover {
  animation: heart-fill-restaurant 400ms both;
}
.restaurant .section-title {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 28px 0px 12px 0px;
}
.restaurant .section-title::after {
  content: "";
  display: inline-block;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-top: 10px;
}
.restaurant .menu {
  list-style: none;
}
.restaurant .menu__card {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 15px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 300;
}
.restaurant .menu__card--title {
  font-size: 18px;
  font-weight: 500;
}
.restaurant .menu__card--price {
  font-weight: 700;
  color: #353535;
}
.restaurant__order {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  min-width: 320px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.button {
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 16px;
  padding: 16px 22px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
}
.button:hover {
  opacity: 85%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
.button__restaurant {
  padding: 16px 49px;
  cursor: pointer;
}

@keyframes heart-fill-home {
  0% {
    height: 0px;
    opacity: 1;
    bottom: 35px;
  }
  100% {
    height: 24px;
    opacity: 1;
  }
}
@keyframes heart-fill-restaurant {
  0% {
    height: 0px;
    opacity: 1;
    top: 50px;
  }
  100% {
    height: 24px;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
