@mixin button {
    background: $button-color-gradient;
    color: white;
    box-shadow: 0px 4px 10px 0px #00000040;
    font-size: 16px;
    padding: 16px 22px;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    &:hover {
        opacity: 85%;
        box-shadow: 0px 4px 15px 0px #00000059;
    }

    &__restaurant {
        padding: 16px 49px;
        cursor: pointer;
    }
}