$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color-grey: #EAEAEA;
$background-color-lightgrey: #F6F6F6;
$box-shadow-header-color: #00000026;
$color-darkgrey: #353535;
$color-grey: #7E7E7E;
$color-green: #008766;
$button-color-gradient: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
$button-color-gradient-clear: #FFFFFF26;
$heart-color-gradient: linear-gradient(#9356DC, #FF79DA 90%);
$home-section-title: 0px 0px 14px 20px;


